body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

#portfolio-studio  a{
    border-bottom: 3px solid  #1a73e8;
    border-radius: 2px;
    color: #1a73e8;
} 

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    display: flex;
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav{
    display: flex;
    align-items: center;
}

.website-logo {
    color: #000000;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
}

.website-logo span {
    color: #2196F3;
}

.pagination{
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.pagination .item + .item{
    margin-left: 50px;
}
.pagination a:hover{
    color:#2196F3;
}
.pagination a{
    color:#212121;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.aside{
    display: flex;
    margin-left: auto;
}

.aside .item + .item{
    margin-left: 50px;
}
.aside a{
    color: #757575;
}
.aside a:hover{
    color:#2196F3;
}

.envelope svg::before{
    display: inline-flex;
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
}

.envelope a {
    margin-right: 30px;
}

.aside a:hover svg{
    fill: #2196F3;
}

.smartphone svg::before{
    display: inline-flex;
    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.hero{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 94px;
    height: 600px;
    max-width: 1600px;
    background-color: #2F303A;
    background-image: url(../img/foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    margin-top: 0px;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero button {
    background-color: #2196F3;
    color: #ffffff;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
  }

h3 {
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.icon::before{
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
.icon-antenna::before{
    background-image: url(../img/antenna.png);
}

.icon-clock::before{
    background-image: url(../img/clock.png);
}

.icon-diagram::before{
    background-image: url(../img/diagram.png);
}

.icon-astronaut::before{
    background-image: url(../img/astronaut.png);
}

.about {
        display: flex;
        margin-top: 0px;
        margin-bottom: 94px;   
}

.icon-antenna::before{
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    background-image: url(../img/antenna.png);
}
.icon-clock::before{
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    background-image: url(../img/clock.png);
}
.icon-diagram::before{
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    background-image: url(../img/diagram.png);
}
.icon-astronaut::before{
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    background-image: url(../img/astronaut.png);
}

.about .skills + .skills {
    margin-left: 30px;
}

.about p{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 270px;
    height: 75px;
    color: #757575;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;  
}

.activity {
    margin-bottom: 94px;
}

.activity-main{
    display: flex;
}


.activity-main li + li{
    margin-left: 30px;
}

.desktop-applications,
.mobile-applications,
.design-solution {
  position: relative;
}

.desktop-applications::before,
.mobile-applications::before,
.design-solution::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 75%;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.applications-paragraph,
.mobile-applications-paragraph,
.design-solution-paragraph {
  position: absolute;
  top: 85%;
  left: 85px;
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.member {
    width: 270px;
    height: 428px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.command-all{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
    height: 708px;
    margin: auto;
    margin-bottom: 94px;
}

.command-all img{
    margin-bottom: 30px;
}

.command-all p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.command{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    width: 1200px;
    width: 100%;
}

.command .member + .member{
    margin-left: 30px;
}

p.profession{
    margin-top: 10px; 
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.social {
    display: inline-flex;
    
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
    
}

.logo-command {
    fill: currentColor;
}

.social-network:hover{
    color: #ffffff;
    background-color: #2196F3;
    
}

.svg-symbol {
    fill: #AFB1B8;
    
}

.link-clients {
    display: inline-flex;
}

.logo .link-logo + .link-logo {
    margin-left:  30px;
}

.logo {
    margin-bottom: 94px;
}

.link-logo a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.link-logo a:hover .svg-symbol {
    fill: #2196F3;
}

.link-logo a:hover {
    border-color: #2196F3;
}

footer{
    background-color: #2F303A;
    height: 252px;
    margin: auto;
}

.nav-footer {
    display: inline-block;
}

.website-footer-logo {
    display: inline-block;
    margin-top: 60px;
    color: #ffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.website-footer-logo span {
    color: #2196F3;
}

.aside-footer p{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.aside-footer a:hover{
    color:#2196F3;
}

.mailto-footer a{
    display: inline-block;
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.tel-footer a{
    display: inline-block;
    margin-top: 9px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.all-links-footer{
    display: inline-block;
    margin-left: 70px;
    margin-top: 72px;
}

.social-footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 44px;
    height: 44px;
    color: #ffffff;
    background-color: #44454E;
    border-radius: 50%;
}

.social-footer:hover {
    color: #ffffff;
    background-color: #2196F3;
}

.logo-footer {
    fill:#ffffff;
}


.all-links-footer span {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}



/*portfolio*/



.link-all{
    display: flex;
    justify-content: center;
    margin-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.link a{
    background-color:  #F5F4FA;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
}

.link-all a:hover{
    background-color: #2196F3;
    color: #ffffff;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
}

.link-all .link + .link{
    margin-left: 8px;
}

.link-all a{
    color: black;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 94px;
}

.content {
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}


.content h4 {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.content:nth-child(3n) {
    margin-right: 0px;
}

.content:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.content p {
    color: #757575;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}


h3 {
    margin-top: 20px;
}

.technocryk-description {
    position: relative;
    overflow: hidden;
}

.technocrack-paragraph {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.technocrack-paragraph p {
    margin-top: 63px;
    width: 322px;
    height: 168px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.content:hover .technocrack-paragraph {
    opacity: 1;
    transform: translateY(0%);
}


.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
}

.button-close {
    float: right;
    background-color: #ffffff;
    border: 1px solid #21212133;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .button-close:hover .close {
    fill: #2196F3;
  }